<!-- Footer Component -->
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>selenix.io</h3>
                <p class="footer-description">Modern browser automation tool that helps you save time and increase productivity without writing a single line of code.</p>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Product</h3>
                <ul>
                    <li><a href="/docs/" id="footer-docs"><i class="fa-solid fa-file-lines"></i> Documentation</a></li>
                             <a href="/product/professional-services/" id="footer-professional-services">
                            <i class="fa-solid fa-handshake-angle"></i>
                            Professional Services
                        </a>
                    <li><a href="/docs/#command-reference" id="footer-no-code-builder"><i class="fa-solid fa-cubes"></i> Commands Reference</a></li>
                    <li><a href="/docs/index.html?scrollTo=creating-templates#templates" id="footer-no-code-steps"><i class="fa-solid fa-list-check"></i> Create Templates</a></li>
                    <li><a href="/product/templates/"><i class="fa-solid fa-tag"></i> Pre-built Templates</a></li>
                </ul>
            </div>
            <!-- <div class="footer-column">
                <h3>Web automation</h3>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-robot"></i> Automate website actions</a></li>
                    <li><a href="#"><i class="fa-solid fa-keyboard"></i> Automate Data Entry</a></li>
                    <li><a href="#"><i class="fa-solid fa-pen-to-square"></i> Automate Form Filling</a></li>
                    <li><a href="#" id="footer-templates"><i class="fa-solid fa-puzzle-piece"></i> Automation templates</a></li>
                </ul>
            </div> -->
            <div class="footer-column">
                <h3>Blog</h3>
                <ul>
                    <li><a href="/blog/post.php?slug=the-complete-beginner-s-guide-to-web-scraping-with-selenix"><i class="fa-solid fa-bug"></i> Beginner's Guide to Scraping</a></li>
                    <li><a href="/blog/post.php?slug=automating-web-data-collection-with-selenix-and-using-it-in-n8n-workflows"><i class="fa-solid fa-plug"></i> Selenix & N8N</a></li>
                    <li><a href="/blog/post.php?slug=localhost-web-scraping-with-no-code-tool-selenix"><i class="fa-solid fa-brain"></i> Localhost AI Assisted Web Scraping</a></li>
                    <!-- <li><a href="#"><i class="fa-solid fa-lightbulb"></i> Browser automation tips</a></li> -->
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; <span class="footer-copyright-year">2025</span> selenix.io. All rights reserved.</p>
            <p class="created-by">Created by <a href="https://aibrainl.ink" target="_blank">AIBrainL.ink Software</a></p>
        </div>
    </div>
</footer>
